@import 'variables.scss';
@import 'mixins.scss';

.contact-section {
  padding: 100px 40px;
  background: $white;
}

.contact-wrapper {
  @include flex(row, 60px, center);
  flex-wrap: wrap;
}

/* LEFT */
.contact-info {
  flex: 1;
  @include flex(column, 0px)
}

.info-card {
  background: #f6fbfb;
  border-radius: 20px;
  padding: 35px;
  margin-top: 20px;

  .info-row {
    @include flex(row, 20px, flex-start, center);
  }

  .icon-circle {
    width: 54px !important;
    height: 54px !important;
    border-radius: 50%;
    background: #ffffff;
    @include flex(row,0px,  center, center);
    color: #0c6e6d;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  }

  .label {
    font-size: 14px;
    color: #6f8f8f;
  }

  .value {
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    // margin-top: 4px;
  }

  .divider {
    border-bottom: 1px dashed #b7dada;
    margin: 26px 0;
  }
}

/* RIGHT */
.contact-form {
  flex: 1;
  background: #ffffff;
  border-radius: 24px;
  padding: 50px 45px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);

  .small-title {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .underline {
    display: block;
    width: 80px;
    height: 4px;
    background: #ff9800;
    margin: 12px auto 35px;
    border-radius: 4px;
  }
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .MuiTextField-root {
    flex: 1;
    min-width: 240px;

    input,
    textarea {
      border-radius: 8px;
    }
  }

  .full {
    flex: 100%;
  }

  .checkbox-row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #5f7d7d;
    margin-top: 10px;
  }

  .submit-btn {
    padding: 14px 28px;
    background: $color-secondary;
    border-radius: 8px;
    font-weight: 600;
    text-transform: none;
    color: $white !important;

    svg{
      fill: $white;
    }

    &:hover {
      background: #095b5a;
    }
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {

  .contact-section{
    padding: 80px 30px;
  }
  .contact-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 560px) {

  .contact-section{
    padding: 60px 20px;
    .contact-wrapper {
      padding:0px;

      .contact-info{
        .info-card{
          padding: 20px;

          .info-row{
            div{
              &:last-child{
                flex: 1;
              }
            }
          }
        }
      }
      .contact-form{
        padding: 30px 20px;
      }
    }
  }
}
