@import 'variables.scss';
@import 'mixins.scss';

.header {
  position: sticky !important;
  top: 0;
  z-index: 1200;
  padding: 25px 15px;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.toolbar {
  display: grid !important;
  grid-template-columns: 250px 1fr 250px;
  justify-content: space-between;
  padding: 0 24px;
  min-height: max-content !important;
}

.logo {
  font-size: 30px !important;
  font-weight: 700 !important;
  color: $color-primary;
  width: 140px;
}

.nav-links {
  @include flex(row, 15px, center);
}

.nav-btn {
    color: $color-primary !important;
    text-transform: none !important;
    text-decoration: none !important;
    position: relative;
    
    &::after{
        content: '';
        position: absolute;
        bottom: -3px;
    left: 0px;
    top: auto;
    height: 2px;
    width: 0px;
    background-color: $color-primary;
    transition: all 0.3s linear;
}

&:hover{
    &::after{
        content: '';
        width: 70%;
    }
}
}

.quote-btn {
    background: linear-gradient(90deg, $color-secondary, $color-primary-2);
    color: $white !important;
    border-radius: 24px !important;
    padding: 6px 18px !important;
    text-transform: none !important;
    font-size: 18px !important;
    @include flex(row, 5px, flex-end);
    width: max-content;
    margin-left: auto !important;
}

.header{
    &.home{
          padding: 35px 15px 15px;
        .logo{
            color: $white !important;
            padding-top: 10px !important;
        }

        .nav-links{
            margin-bottom: 25px;
        }

        .quote-btn{
            background: transparent;
        }
    }
}

.menu-icon {
    @include d_none();
    color: $white !important;
}

.drawer {
  width: 260px;
  padding: 16px;
}

.drawer-logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.header.scrolled {
  background-color: $color-primary-2 !important;
  box-shadow: 0px 4px 11px 0px rgba($black, 47%) !important;
  padding:  15px;

  .logo{
    padding: 0px;
    color: $white !important;
  }
  .nav-links{
    margin-bottom: 0px;
    .nav-btn{
        color: $white !important;
        font-size: 16px;
        font-weight: 600;
        &::after{
            content: '';
            background-color: $white;
            bottom: -7px;
        }

        &:hover{
        }
    }
  }
}




@media (max-width: 992px) {

  .toolbar{
  }
  .nav-links,
  .quote-btn {
    display: none !important;
  }
  
  .menu-icon {
    display: block !important;
    
  }
  
  .home{
    .toolbar{
      display: flex !important;

      .logo{
        padding: 0px !important;
      }

      .menu-icon{
        svg{
          fill: $white !important;
        }
      }
    }
  }
}
