/* variables.scss */

$font-primary: 'Fira Sans', sans-serif;

$color-primary: #10194b;
$color-primary-2: #86bde4;
$color-secondary: #1c84c6;

$bg-light: #F2F8F2;
$gray: #6b7a7a;
$dark-text: #063232;
$light-text: #a3b7b7;

$white:#fff;
$black:#000;

$border-radius: 8px;
